body {
  margin: 0;
  padding: 0;
}

:root {
  /* colore sfondo */
  --bg-rosa-panna: #fdf2f0;
  --bg-bianco: #ffffff;
  --bg-menu-verde: #c6ebe7;

  /* colore sfondo */
  --testo-bordeaux: #541926;
  --testo-paragrafo: #5c4347;
  --testo-placeholder: #a88b8b;

  /* colori per bottoni */
  --brand-verde-acqua: #18b6b1;
  --brand-oro-rosa: #c28a80;

  /* colori delle linee */
  --bordo-rosato-scuro: #d2b3ae;
  --bordo-rosato-chiaro: #ebd4d0;

}

/* navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--bg-rosa-panna);
  border-bottom: 1px solid var(--bordo-rosato-chiaro);
  font-family: sans-serif;
}

.logo-img {
  height: 60px;
  width: auto;
}

.navbar-links {
  display: flex;
  gap: 35px;
}

.navbar-link {
  text-decoration: none;
  color: var(--testo-bordeaux);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar-link:hover {
  border-bottom: 2px solid var(--brand-verde-acqua);
}


.navbar-search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon {
  font-size: 24px;
  color: var(--brand-oro-rosa);
  cursor: pointer;
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: var(--bg-bianco);
  border: 1px solid var(--bordo-rosato-scuro);
  border-radius: 30px;
  padding: 3px 4px 3px 15px;
  width: 250px;
}

.search-input-container input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  color: var(--testo-paragrafo);
  font-size: 14px;
}

.search-input-container input::placeholder {
  color: var(--testo-placeholder);
}

.search-btn {
  background-color: var(--brand-verde-acqua);
  color: var(--bg-bianco);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #3efef8;
  box-shadow: 0 0 20px rgba(62, 254, 248, 0.6);
}

/* Jumbo con video */

.jumbo-container {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid var(--bordo-rosato-chiaro);
  margin-bottom: 40px;
}

.jumbo-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* queste righe mi sono servite per ingrandire il video e tagliare il logo in alto a destra */
  transform: scale(1.15);
  transform-origin: center;
}

/* sfondo nero sul video per far risaltare la scritta  */
.jumbo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.jumbo-content {
  position: relative;
  z-index: 1;
  max-width: 700px;
}


.jumbo-title {
  color: var(--testo-bordeaux);
  font-size: 52px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  text-shadow: 2px 4px 13px rgba(255, 255, 255, 0.94);
}

.jumbo-subtitle {
  color: var(--bg-bianco);
  font-size: 20px;
  margin-bottom: 40px;
  text-shadow: 2px 4px 13px rgba(84, 25, 38, 0.94);
}

.jumbo-btn {
  background-color: var(--brand-verde-acqua);
  color: var(--bg-bianco);
  border: none;
  padding: 15px 45px;
  border-radius: 50px;
  cursor: pointer;
}

.jumbo-btn:hover {
  background-color: #3efef8;
  color: var(--testo-bordeaux);
  box-shadow: 0 0 20px rgba(62, 254, 248, 0.6);
}

/* card */
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--bg-rosa-panna);
}



.catalogo-titolo {
  text-align: center;
  color: var(--testo-bordeaux);
  font-size: 50px;
  padding: 40px 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}


.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px 40px 80px 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.product-card {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  /* transizione per quanto si alza la card */
}

.product-card:hover {
  transform: translateY(-5px);
}


.card-image-wrapper {
  box-shadow: 10px 1px 12px 7px rgba(84, 25, 38, 0.75);
  background: white;
  padding: 10px;
  border: 10px double #d2b3ae;
  margin-bottom: 25px;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.card-image-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image-inner img {
  max-width: 85%;
  max-height: 85%;
  object-fit: contain;
  border: none !important;
  outline: none !important;
}


.card-title {
  color: var(--testo-bordeaux);
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin: 10px 0 5px 0;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
}

.card-brand {
  color: var(--testo-bordeaux);
  font-size: 15px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.card-category {
  color: var(--testo-bordeaux);
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.card-price {
  color: var(--testo-bordeaux);
  font-size: 20px;
}


.card-btn {
  background-color: var(--brand-verde-acqua);
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background-color: #3efef8;
  color: var(--testo-bordeaux);
  box-shadow: 0 0 20px rgba(62, 254, 248, 0.6);
}

/* pagina dei prodotti */
/* --- CARD NESSUN RISULTATO --- */
.no-results-msg {
  width: 100%;
  max-width: 650px;
  margin: 40px auto;
  padding: 50px 30px;
  background-color: #ffffff;
  border: 2px dashed #d2b3ae;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.no-results-img {
  max-width: 250px;
  height: auto;
  margin-bottom: 10px;
}

.no-results-msg-text {
  font-size: 22px;
  color: var(--testo-bordeaux);
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.no-results-msg span {
  font-size: 15px;
  color: #888888;
  font-style: italic;
  text-align: center;
}